<div class="text" style="margin-top:90px;">
  <div class="title">
    <h1>Nuestras Cabañas</h1>
  </div>
  <div class="info">
    <p lang="es">Tenemos tres apartamentos, dos en planta baja, uno en planta alta, los cuales tienen espacio para 5 personas.
       Los departamentos cuentan con una cocina equipada con horno, microondas, heladera y elementos necesarios; comedor, living con TV por cable, sofás camas y un carrito cama;
      habitación matrimonial y baño privado con bañera.
       <br>Se proporcionan toallas y ropa de cama.</p>
  </div>

  <div class="fotos">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<div class="container">
	<div class="row">
		<div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418175748_IMG_0202.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418175748_IMG_0202.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418175819_IMG_0203.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418175819_IMG_0203.JPG"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180014_IMG_0206.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180014_IMG_0206.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Test1"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180118_IMG_0209.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180118_IMG_0209.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180141_IMG_0210.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180141_IMG_0210.JPG"
                         alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180215_IMG_0211.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180215_IMG_0211.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180301_IMG_0212.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180301_IMG_0212.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180311_IMG_0213.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180311_IMG_0213.JPG"
                         alt="Another alt text">
                </a>
            </div>



            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180336_IMG_0214.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180336_IMG_0214.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180451_IMG_0218.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180451_IMG_0218.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180625_IMG_0220.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180625_IMG_0220.JPG"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180835_IMG_0223.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180835_IMG_0223.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180929_IMG_0228.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180929_IMG_0228.JPG"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180957_IMG_0229.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418180957_IMG_0229.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Test1"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181009_IMG_0230.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181009_IMG_0230.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181101_IMG_0232.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181101_IMG_0232.JPG"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181122_IMG_0233.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181122_IMG_0233.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181204_IMG_0235.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181204_IMG_0235.JPG"
                         alt="Another alt text">
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title=""
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181531_IMG_0237.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418181531_IMG_0237.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Test1"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418182147_IMG_0243.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418182147_IMG_0243.JPG"
                         alt="Another alt text">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="Im so nice"
                   data-image="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418182242_IMG_0247.JPG"
                   data-target="#image-gallery">
                    <img class="img-thumbnail"
                         src="https://s3-sa-east-1.amazonaws.com/los-andes/cabañas/20190418182242_IMG_0247.JPG"
                         alt="Another alt text">
                </a>
            </div>

        </div>


        <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="image-gallery-title"></h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                        </button>

                        <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
</div>
</div>


<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem('firstLoad');
  }
})();

</script>
<script type="text/javascript">
  let modalId = $('#image-gallery');

$(document)
  .ready(function () {

    loadGallery(true, 'a.thumbnail');

    //This function disables buttons when needed
    function disableButtons(counter_max, counter_current) {
      $('#show-previous-image, #show-next-image')
        .show();
      if (counter_max === counter_current) {
        $('#show-next-image')
          .hide();
      } else if (counter_current === 1) {
        $('#show-previous-image')
          .hide();
      }
    }

    /**
     *
     * @param setIDs        Sets IDs when DOM is loaded. If using a PHP counter, set to false.
     * @param setClickAttr  Sets the attribute for the click handler.
     */

    function loadGallery(setIDs, setClickAttr) {
      let current_image,
        selector,
        counter = 0;

      $('#show-next-image, #show-previous-image')
        .click(function () {
          if ($(this)
            .attr('id') === 'show-previous-image') {
            current_image--;
          } else {
            current_image++;
          }

          selector = $('[data-image-id="' + current_image + '"]');
          updateGallery(selector);
        });

      function updateGallery(selector) {
        let $sel = selector;
        current_image = $sel.data('image-id');
        $('#image-gallery-title')
          .text($sel.data('title'));
        $('#image-gallery-image')
          .attr('src', $sel.data('image'));
        disableButtons(counter, $sel.data('image-id'));
      }

      if (setIDs == true) {
        $('[data-image-id]')
          .each(function () {
            counter++;
            $(this)
              .attr('data-image-id', counter);
          });
      }
      $(setClickAttr)
        .on('click', function () {
          updateGallery($(this));
        });
    }
  });

// build key actions
$(document)
  .keydown(function (e) {
    switch (e.which) {
      case 37: // left
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-previous-image').is(":visible")) {
          $('#show-previous-image')
            .click();
        }
        break;

      case 39: // right
        if ((modalId.data('bs.modal') || {})._isShown && $('#show-next-image').is(":visible")) {
          $('#show-next-image')
            .click();
        }
        break;

      default:
        return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
  });

</script>
<script type="text/javascript">
  $('.header .navbar .navbar-collapse a').hover(function() {
    $(this).css('color', '#dab23f')
  }, function() {
    $(this).css('color', 'gray')
    $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
  });;
  $('#nv1').hide();
  $('#nv2').show();
  $('.navbar').css('background-color', '#fff');
  $('.header .navbar .navbar-collapse a').css('color', 'gray');
</script>
