<div class="text" style="margin-top:100px;">
  <div class="title">
    <h1>Contactanos</h1>
  </div>
  <div class="info">
    <div class="images">
      <a href="#"><div class="image" style="margin-right:20px">
        <img src="https://s3-sa-east-1.amazonaws.com/los-andes/Whatsapp_icon-icons.com_66931.png">
        <p>Whatsapp</p>
      </div></a>
      <a href="#"><div class="image">
        <img src="https://s3-sa-east-1.amazonaws.com/los-andes/Email_30017.png">
        <p>Email</p>
      </div></a>
    </div>
  </div>
</div>



<!-- SCRIPTS -->
<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }
    else
      localStorage.removeItem('firstLoad');
  }
})();

</script>
<script type="text/javascript">
  $(function(){
      if ($(window).innerWidth() < 600) {
        $('.image').addClass('image1')
        $('.image').removeClass('image');
      }else{
      }
  })
</script>
<script type="text/javascript">
  $('.header .navbar .navbar-collapse a').hover(function() {
    $(this).css('color', '#dab23f')
  }, function() {
    $(this).css('color', 'gray')
    $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
  });;
  $('#nv1').hide();
  $('#nv2').show();
  $('.navbar').css('background-color', '#fff');
  $('.header .navbar .navbar-collapse a').css('color', 'gray');
  $('footer').css('bottom', '0');
</script>
