<div class="pre">
  <div class="mySlides" id="img1">
  </div>
  <div class="mySlides" id="img2">
  </div>
  <div class="mySlides" id="img3">
  </div>
</div>
<div class="ubic">
  <div class="title">
    <h1>¿Donde nos encontramos?</h1>
  </div>
  <div class="info">
    <p lang="es"><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. In nec dictum erat, eget fermentum tortor.
       Nullam tempor pharetra ipsum ac lacinia. Nunc ultrices, lorem et faucibus iaculis, felis odio hendrerit massa, id pharetra odio nibh vitae dui.
       Donec vitae accumsan quam, nec convallis augue. <strong>Phasellus</strong> tortor libero, bibendum in elementum quis, maximus maximus tortor.</p>
  </div>
</div>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">
      $(function(){
      $('.mySlides').css({ height: $(window).innerHeight()*0.87 });
      $(window).resize(function(){
        $('.mySlides').css({ height: $(window).innerHeight()*0.87 });
      });
    });
    </script>
    <script type="text/javascript">
      $('#nv2').hide();
      $(window).scroll(function() {
      if ($(document).scrollTop() >= 40) {
        $('#nv1').hide();
        $('#nv2').show();
        $('.navbar').css('background-color', '#fff');
        $('.header .navbar .navbar-collapse a').css('color', 'gray');
        $('.header .navbar .navbar-collapse a').hover(function() {
          $(this).css('color', '#dab23f')
        }, function() {
          $(this).css('color', 'gray')
          $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
        });;
        $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
      } else {
        $('#nv2').hide();
        $('#nv1').show();
        $('.navbar').css('background-color', 'transparent');
        $('.header .navbar .navbar-collapse a').css('color', '#fff');
        $('.header .navbar .navbar-collapse a').hover(function() {
          $(this).css('color', '#dab23f')
        }, function() {
          $(this).css('color', '#fff')
          $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
        });;
        $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
      }
    });
    </script>
    <script>
      var map;
      function initMap() {
        ubicacion = {lat: -41.100325, lng: -71.446515};
        map = new google.maps.Map(document.getElementById('map'), {
          center: ubicacion,
          zoom: 15
        });
        marker = new google.maps.Marker({position: ubicacion, map: map})
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe5Q_IsK7uz5BfrzaAB1kDZDwHe8dW-XY&callback=initMap"
    async defer></script>
