<div class="pre">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-100" src="https://s3-sa-east-1.amazonaws.com/los-andes/20190409173008_IMG_0133.JPG" alt="First slide">
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="https://s3-sa-east-1.amazonaws.com/los-andes/20190409173658_IMG_0145.JPG" alt="Second slide">
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="https://s3-sa-east-1.amazonaws.com/los-andes/20190409174042_IMG_0152.JPG" alt="Third slide">
  </div>
</div>
</div>
<div class="button-down1">
  <a id="butt" href="#"><i id="il" class="fas fa-arrow-down"></i></a>
</div>
</div>
<div class="text">
  <div class="title">
    <h1>¿Donde nos encontramos?</h1>
  </div>
  <div class="info">
    <p lang="es"><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit. In nec dictum erat, eget fermentum tortor.
       Nullam tempor pharetra ipsum ac lacinia. Nunc ultrices, lorem et faucibus iaculis, felis odio hendrerit massa, id pharetra odio nibh vitae dui.
       Donec vitae accumsan quam, nec convallis augue. <strong>Phasellus</strong> tortor libero, bibendum in elementum quis, maximus maximus tortor.</p>
  </div>
</div>
  </head>
  <body>
    <div id="map"></div>

<!-- SCRIPTS -->
    <script type="text/javascript">
      $(function min(){
        $('#il').animate({marginTop: "90px"}, 2500, function(){$('#il').animate({marginTop: "-90px"}, 1, function(){min()})})
      });
      $(function(){
        $('#il').on('click', function(){
          $('html, body').animate({scrollTop: $(".text").offset().top-100}, 2000)
        })
      })
    </script>
    <script type="text/javascript">
      $(function(){
          if ($(window).innerWidth() < 1200) {
            nsize = $('.carousel-inner:visible').height()*0.8;
            $('.button-down1').css('margin-top', nsize);
          }else{
            size = $('.pre:visible').height()*0.85;
            $('.button-down1').css('margin-top', size);
          }
      })
    </script>
    <script type="text/javascript">
      if($(window).innerHeight() < 700 && $(window).innerWidth() > 1200){
        $('.pre').css({ height: $(window).innerHeight()*0.87 });
      }else{
        $('.button-down1').hide();
      }
    </script>

    <script type="text/javascript">
      if($(window).innerHeight() < 700 && $(window).innerWidth() > 1200){
        $('#nv2').hide();
        $(window).scroll(function() {
        if ($(document).scrollTop() >= 40) {
          $('#nv1').hide();
          $('#nv2').show();
          $('.navbar').css('background-color', '#fff');
          $('.header .navbar .navbar-collapse a').css('color', 'gray');
          $('.header .navbar .navbar-collapse a').hover(function() {
            $(this).css('color', '#dab23f')
          }, function() {
            $(this).css('color', 'gray')
            $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
          });;
          $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
        } else {
          $('#nv2').hide();
          $('#nv1').show();
          $('.navbar').css('background-color', 'transparent');
          $('.header .navbar .navbar-collapse a').css('color', '#fff');
          $('.header .navbar .navbar-collapse a').hover(function() {
            $(this).css('color', '#dab23f')
          }, function() {
            $(this).css('color', '#fff')
            $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
          });;
          $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
        }
      });
    }else{
      $('.header .navbar .navbar-collapse a').hover(function() {
        $(this).css('color', '#dab23f')
      }, function() {
        $(this).css('color', 'gray')
        $('.header .navbar .navbar-collapse .active a').css('color', '#dab23f');
      });;
      $('#nv1').hide();
      $('#nv2').show();
      $('.navbar').css('background-color', '#fff');
      $('.header .navbar .navbar-collapse a').css('color', 'gray');
      $('.pre').css('margin-top', '100px');
    }
    </script>
    <script>
      var map;
      function initMap() {
        ubicacion = {lat: -41.100325, lng: -71.446515};
        map = new google.maps.Map(document.getElementById('map'), {
          center: ubicacion,
          zoom: 15
        });
        marker = new google.maps.Marker({position: ubicacion, map: map})
      }
    </script>
