/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header .navbar{
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.969;
  z-index: 900;
}
.header .navbar .navbar-collapse a{
  color: #fff;
}
.header .navbar .navbar-collapse a:hover{
  color: #dab23f;
}
.nav{
  font-size: 20px;
}
.header .navbar .navbar-collapse .active a{
  color: #dab23f;
}
.active a{
  font-weight: 600;
}

#map{
  height: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.title{
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 2%;
  color: #605e5e;
  font-family: 'Montserrat', sans-serif;
}
.title h1{
  font-weight: 300;
}
.info{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  font-size: 15pt;
  width: 100%;
  color: gray;
  font-family: 'Montserrat', sans-serif;
}
.text{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.color-change{
  background-color: #fff;
}
.menu{
  overflow: hidden;
}
.pre{
  overflow: hidden;
}
#map1{
  height: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.link{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-bottom: 5%;
}
.reserva{
  color: white;
  background-color: #dab23f;
  padding: 10%;
  text-align: center;
  display: inline-table;
  border-radius: 10px;
}
.reserva:hover{
  color: white;
  text-decoration: none;
  background-color: #f9cc4a;
}
.fotos{
  overflow: hidden;
}
.reserva1{
  color: white;
  background-color: #dab23f;
  padding: 1%;
  text-align: center;
  width: 100%;
  display: block;
}
.reserva1:hover{
  color: white;
  text-decoration: none;
  background-color: #f9cc4a;
}
.link1{
  height: 50px;
  display: block;
}
.close{
  display: none;
}
.button-down{
  position: absolute;
  z-index: 888;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  margin-left: 50%;
  font-size: 400%;
}
i{
  color: white;
}
.button-down1{
  position: absolute;
  z-index: 888;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  margin-left: 50%;
  font-size: 360%;
}
#wpp{
  color: green;
}
#wpp:hover{
  text-decoration: none;
  color: #33da33;
}
#email{
  color: #f57c00;
}
#email:hover{
  text-decoration: none;
  color: #ff9c36;
}
.footer{
  width: 100%;
  height: 100px;
  position: absolute;
  background-color: #232323;
  text-align: center;
  bottom: auto;
}
.container{
  margin-top: 20px;
  color: #fff;
  font-family: "Montserrat", "Robot", sans-serif;
}
#foot{
  color: #fff;
  font-weight: 300;
}
#foot1{
  color: #fff;
  font-weight: 500;
}
.images{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.image img{
  width: 200px;
  height: 200px;
}
.image img:hover{
  width: 210px;
  height: 210px;
}
.images a{
  color: gray;
  font-family: "Montserrat", "Roboto", sans-serif;
}
.images a:hover{
  color: gray;
  text-decoration: none;
}
.image1 img{
  width: 100px;
  height: 100px;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
a:-moz-focusring{
  outline:0;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.preload{
  position: fixed;
  	left: 0px;
  	top: 0px;
  	width: 100%;
  	height: 100%;
  	z-index: 9999;
  	background: url("https://s3-sa-east-1.amazonaws.com/los-andes/loadinfo.net.gif") center no-repeat #fff;
}
