<footer class="footer">
  <div class="container">
    <a href=""id="foot1"">Cabaña Los andes</a><br>
    Contacto: &nbsp&nbsp<a id="foot" target="_blank" href="https://wa.me/542944536337">+542944536337</a>&nbsp&nbsp|&nbsp&nbsp
    <a id="foot" href="mailto:cheneyprudencio@gmail.com?subject=Consulta Cabañas">cheneyprudencio@gmail.com</a>
  </div>
</footer>
