<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light nav">
    <a class="navbar-brand" href="/">
      <img src=" https://s3-sa-east-1.amazonaws.com/los-andes/iconoW.png" width="164px" height="75.2px" id="nv1">
    <img src=" https://s3-sa-east-1.amazonaws.com/los-andes/iconoB.png" width="164px" height="75.2px" id="nv2"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" data-label-expanded="Close">
      <span class="navbar-toggler-icon"></span>
      <span class="my-1 mx-2 close">X</span>

    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav m-auto">
        <li class="nav-item active">
          <a class="nav-link lk" style='color:' href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Cabañas', cabanas_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Ubicacion', ubicacion_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contacto', contacto_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </nav>

</header>

<script type="text/javascript">
  $('.navbar-toggler').on('click', function(){
    $('.collapse').toggle();
    $('.navbar-toggler-icon').toggle();
    $('.close').toggle(10);
  })
</script>
<script type="text/javascript">
</script>
